@font-face {
  font-family: Alegreya;
  src: url(../fonts/Alegreya-Medium.ttf);
}

@font-face {
  font-family: Alegreya-thin;
  src: url(../fonts/Alegreya-regular.ttf);
}


body{
	background-color: #E8D2AE;
}

 .toolbar{
	background-color: #B1BA95;
	position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
    font-family: Alegreya;
}


.toolbar a{
	color: #305252;
	transition: .5s;
	float: right;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

.toolbar a:hover{
	color: white;
	transition: .5s;
}

.user{
	border: solid .1px #B1BA95;
	width: 90%;
	margin-top:5%;
	margin-left: 5%;
	display: flex;
	border-radius: 10px;
	margin-bottom: 5%;
}
.insta{
	margin-left: auto;
}

.user h1{
	font-family: Alegreya-thin;
	color: #CB8589;
	padding: 20px;
}