@font-face {
  font-family: Alegreya;
  src: url(../fonts/Alegreya-Medium.ttf);
}

@font-face {
  font-family: Alegreya-thin;
  src: url(../fonts/Alegreya-regular.ttf);
}


body{
	background-color: #E8D2AE;
}


.box{
	position: absolute;
	 left: 50%;
	 top: 30%;
	 -webkit-transform: translate(-50%, -50%);
	 transform: translate(-50%, -50%);
	 display: flex;
	 border-radius: 5px;

  width: 15%;
  height: 25%;
  padding:20px;
  font-family: Alegreya-thin;
	color: #CB8589;
	font-size: 15px;
}

.box label{
	font-family: Alegreya-thin;
	color: #CB8589;
	font-size: 20px;
}

.box input{
	background-color: #E8D2AE;
	border: grey solid .5px;
	border-radius: 5px;
	width: 100%;
	height: 15%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

.box .submit{
	background-color: #9BA382;
	font-family: Alegreya-thin;
	color: #305252;
	transition: .1s;
	font-size: 20px;
	margin-top: 10%;
	width: 100%;
}

.box .submit:hover{
	background-color: #A9B18F;
	transition: .1s;
}

.signin{
	width: 100%;
}


#year, #school, #sex{
	color: #CB8589;
	font-family: Alegreya-thin;
	border-radius: 5px;
	border: grey solid .5px;
	width: 100%;
	height: 15%;
}


input:required,
textarea:required {
  border-color: red !important;
}
input:required + label {
  color: red;
}








