<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/edit.css') }}">
	<title>Edit Profile</title>
</head>
<body>

<div class="box">
	<h1>Edit Profile</h1><br>
<form class="signin" method="post" action="{{ url_for('edit')}}">
  	<label for="area">Area (Location)</label><br>
  	<input type="text" id="area" name="area"><br>
  	<label for="courses">Courses</label><br>
  	<input type="text" id="courses" name="courses"><br>
  	<label for="topics">Topics (Topics You Wish To Study)</label><br>
  	<input type="text" id="topics" name="topics"><br>
  	<label for="bio">Bio</label><br>
  	<textarea type="text" id="bio" name="bio"></textarea><br>
	<label for="insta">Instagram Username</label><br>
  	<input type="text" id="insta" name="insta"><br>



  	<input type="submit" value="Edit" class="submit" href="/profile"><br>




</form> 

</div>

</body>
</html>