<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Collaborate</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css') }}"/>
</head>
<body>
<div class="toolbar">
	<a href="/signin">Sign In</a>
	<a href="#home">Contact</a>
	<a href="#home">About Us</a>
</div>

<div class="title">
	<h1>Collaborate</h1>
</div>
<div class="text">
	<h1>Connect With Likeminded Peers</h1>
</div>

</body>
</html>